body {
  background: #f3f3f3;
}


h1, h2 {
  text-align: center;
}

#content {
  padding-top: 0;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style: none;
}

img.logo {
  display: block;
  margin: 10px auto 0 auto;
}

.tags {
  margin-bottom: 24px;
}
.tags h4 {
  margin: 0;
  display: inline-block;
  top: 2px;
  position: relative;
}

.save-json {
  position: fixed;
  right: 24px;
  bottom: 24px;
}

.upload-json {
  position: fixed;
  right: 72px;
  bottom: 24px;
}

textarea {
  width: 100%;
}

img.loading {
  display: block;
  margin: 0 auto;
  width: 10%;
}

pre {
  height: 300px;
}
